body {
    margin: 0;
    padding: 0;
    font-family: inline, sans-serif;
    background: #f0f4f7;
    color: #333;
}

/* HEADER */
header {
    background: linear-gradient(to right, #0f5132, #198754);
    padding: 25px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

header h1 {
    color: white;
    margin: 0;
    font-size: 40px;
    letter-spacing: 2px;

    animation: slideDown 2s ease;
}

/* NAVIGATION */
nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.15);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 30px;
    display: inline-block;
    transition: 0.3s;
    font-weight: bold;

    /* ANIMATION */
    animation: menuMove 1.5s ease;
    animation-fill-mode: backwards;
}

nav a:nth-child(1) {
    animation-delay: 0.2s;
}

nav a:nth-child(2) {
    animation-delay: 0.4s;
}

nav a:nth-child(3) {
    animation-delay: 0.6s;
}

nav a:nth-child(4) {
    animation-delay: 0.8s;
}

/* HOVER EFFECT */
nav a:hover {
    background: white;
    color: #198754;
    transform: scale(1.1);
}

/* CONTENT SECTION */
section {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    line-height: 1.8;
}

section h2 {
    color: #198754;
    font-size: 32px;
    margin-bottom: 20px;
    border-left: 6px solid #198754;
    padding-left: 15px;
}

section p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background: #0f5132;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    font-size: 15px;
}

/* IMAGE STYLE */
img {
    width: 200px;   /* GAMBAR DIKECILKAN */
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* BUTTON STYLE */
button {
    background: #198754;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #145c32;
    transform: scale(1.05);
}

/* ANIMATION */
@keyframes slideDown {

    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* KEYFRAMES */
@keyframes menuMove {

    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.owner-image {
    text-align: center;
}
